<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="Glorint.DataBase.IDatabase,Glorint.DataBase" />
    <typeAlias alias="SqlServer" type="Glorint.DataBase.SqlServer.Database,Glorint.DataBase.SqlServer" />
    <typeAlias alias="MySql" type="Glorint.DataBase.MySqlEx.Database,Glorint.DataBase.MySqlEx" />
    <typeAlias alias="Oracle" type="Glorint.DataBase.Oracle.Database,Glorint.DataBase.Oracle" />

    <!--工作流接口-->
    <typeAlias alias="INodeMethod" type=" Glorint.Application.WorkFlow.INodeMethod, Glorint.Application.WorkFlow" />
    <typeAlias alias="NodeMethod" type=" Glorint.Application.WorkFlow.NodeMethod, Glorint.Application.WorkFlow" />
  </typeAliases>
  <containers>
    <container name="IOCcontainer">
      <type type="IDatabase" mapTo="SqlServer" name="SqlServer"></type >
      <type type="IDatabase" mapTo="MySql" name="MySql"></type >
      <type type="IDatabase" mapTo="Oracle" name="Oracle"></type >
    </container>

    <container name="WfIOCcontainer">
      <type type="INodeMethod" mapTo="NodeMethod"></type>
    </container>
    
  </containers>
</unity>